.container{
    margin: 2em auto;
}

.card{
    padding: 1em;
    margin: 1em 1em;
}

.project-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content{
    padding: 1em;

    h2{
        margin: 1em 0;
    }
}

.button-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button{
        margin: 1em;
    }
}

.post-detail-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-container{
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}