<!-- <script src="https://accounts.google.com/gsi/client" async defer></script>
<div>
    <div id="g_id_onload"
        data-client_id="113370816262-qbe0ir3ua279c1mh5m3v36sfongcjr4b.apps.googleusercontent.com"
        data-login_uri="https://localhost:4200"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div> -->
    
     <!-- <div>
        <button class="btn btn-block google-sign-in" (click)="signInHandlerGoogle()">
            <img [src]="'assets/images/google.svg'" alt="google"/>
            <span>Continue with Google</span>
        </button>
     </div> -->
<!-- </div> -->
<script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
        data-client_id="113370816262-qbe0ir3ua279c1mh5m3v36sfongcjr4b.apps.googleusercontent.com"
        data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
    </div>
    <script>
    function handleCredentialResponse(response) {
    // decodeJwtResponse() is a custom function defined by you
    // to decode the credential response.
    const responsePayload = decodeJwtResponse(response.credential);

    console.log("ID: " + responsePayload.sub);
    console.log('Full Name: ' + responsePayload.name);
    console.log('Given Name: ' + responsePayload.given_name);
    console.log('Family Name: ' + responsePayload.family_name);
    console.log("Image URL: " + responsePayload.picture);
    console.log("Email: " + responsePayload.email);
    }
    </script>
    
  <!-- <div>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
      function handleCredentialResponse(response) {
        console.log("Encoded JWT ID token: " + response.credential);
      }
      window.onload = function () {
        google.accounts.id.initialize({
          client_id: "113370816262-qbe0ir3ua279c1mh5m3v36sfongcjr4b.apps.googleusercontent.com",
          callback: handleCredentialResponse
        });
        google.accounts.id.renderButton(
          document.getElementById("buttonDiv"),
          { theme: "outline", size: "large" }  // customization attributes
        );
        google.accounts.id.prompt(); // also display the One Tap dialog
      }
  </script>
  <div id="buttonDiv"></div>
  </div> -->
