<!-- <div class="row"> -->
    <!-- <div class="col md-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
    </div>
    <div class="col md-3">
        <button mat-button (click)="signInWithGoogle()">
            Continue with Google
        </button>
    </div>  -->
<!-- </div>  -->

<div class="login">
    <img src="../../assets/collaborate.svg" alt="">
</div>

<div class="login">

    <button type="button" class="login-with-google-btn" (click)="signInWithGoogle()">
        Continue with Google
    </button>
</div>
