.card {
    max-width: 400px;
}
  
.card-avatar {
    background-size: cover;
}

.card-actions{
  margin: 1em;
  display: flex;
  justify-content: flex-end;

  button {
    margin: 0.5em;
  }
}

.chip-list{
  margin-right: 0.5em;
  mat-chip{
    background-color: white;
    box-shadow: 0 0 5px 1px #ccc;
    padding-left: 0.5em;
  }
}

.card-content{
  margin-top: 1em;
  img{
    margin-top: 1em ;
  }

}