.profile-card{
    padding: 2em;
    margin: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-myposts{
    padding: 2em;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-grid{
    padding: 2em;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profileimg{
    width: 200px;
    height: 200px;
}

.profile-post{
    padding: 2em;
    margin: 1em;
    max-width: 400px;
}

.profile-post:hover{
    box-shadow: -1px 3px 20px 0px rgba(0, 0, 0, 0.8);
}

.edit-icon{
    margin-left: 1em;
}

.profile-detail-container{
    display: flex;
    justify-content: space-between;
}




