<!-- NAVIGATION BAR -->

<app-navbar></app-navbar>

<!-- MAIN CONTENT -->

<div class="container">

  <!-- CREATE POST -->

  <div class="create-post-card-container">
    <mat-card class="create-post-card">
      <mat-card-content>
        <mat-expansion-panel hideToggle class="create-post-expansion" [expanded]="panelOpenState">
          
          <mat-expansion-panel-header>

              <mat-panel-title>
                <mat-icon>add_circle</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                What's on your mind, Dev?
              </mat-panel-description>
              
          </mat-expansion-panel-header>

          <form class="create-post-form" [formGroup]="createPostForm" (ngSubmit)="onCreatePostFormSubmit()">

            <mat-form-field  class="example-full-width" appearance="fill">
              <mat-label>Project Name</mat-label>
              <input matInput placeholder="Ex. Schedio" formControlName="projectName">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Gist</mat-label>
              <input matInput #message maxlength="256" placeholder="Ex. A project collaboration app" formControlName="projectGist">
              <mat-hint align="end">{{message.value.length}} / 25</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="projectDescription"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Tech stack</mat-label>
              <mat-select formControlName="projectTechstack" multiple>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <!-- <input type="file" formControlName="multiplefile" placeholder="Upload sample images"> -->
              <ngx-mat-file-input formControlName="multiplefile" placeholder="Upload sample images" multiple></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="submit" id="upload_image">Submit</button>

          </form>

          <!-- <div class="create-post-buttons-container">
            <button mat-mini-fab color="">
              <mat-icon>add_photo_alternate</mat-icon>
            </button>
            <button mat-mini-fab color="">
              <mat-icon>play_circle_filled</mat-icon>
            </button>
            <button mat-mini-fab color="">
              <mat-icon>note_add</mat-icon>
            </button>
          </div> -->

        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- FEED -->

  <div class="post-card-container">
    <div *ngFor="let post of posts" class="post-card">
      <app-post [myPost]="post" ></app-post> 
    </div>
  </div> 

</div>


      <!-- <mat-hint align="start"><strong>Keep it short</strong> </mat-hint> -->

      <!-- <mat-card-actions class="card-actions"> -->
        <!-- <div class="create-post-input"> -->
        <!-- </div> -->
      <!-- </mat-card-actions> -->
 
      <!-- <mat-card-header>
        <div mat-card-avatar class="card-avatar"></div>
        <mat-card-title>Create a post</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header> -->
